$orange : #ff6600 !default;
$grey: #ccc !default; 
$red: #d9534f !default; 
$blue: #5bc0de !default;
 
 $margin : margin 0px !default;
 $padding : padding 0px !default;	
 $color : background #fffff !default;
 $font : Georgia, Serif !default;
 $fontSize : 18px !default;
 $clear:both;